<!DOCTYPE html>
<html>

<head>
    <title>Artist Description</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="/css/mainpage.css" rel="stylesheet">
    <link href="/css/artist.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand home" href="#">
                    <img id='lg' alt="Brand" src="/images/Oval.png">
                </a>
            </div>
            <div class="home">
                <ul class="nav navbar-nav navbar-left">
                    <li class="inactive"><a href="http://localhost:3000">Home</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
    </nav>
    <ol class="breadcrumb">
        <li class="inactive home">
            <a href="http://localhost:3000">Home</a>
        </li>
        <li class="active"><a href="#">Artist</a></li>
    </ol>
    <section class="container-fluid">
        <div class="row" id="head">
            <div class="col-sm-2"></div>
            <figure class="col-sm-8">
                <img class="img-fluid" id="h1" src="/images/{{imageName}}" />
            </figure>
            <div class=" col-sm-2">
            </div>
        </div>
    </section>
    <br>
    <br>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Description</a></li>
        <li role="presentation"><a href="#">Availability</a></li>
        <li role="presentation"><a href="#">Pricing</a></li>
    </ul>

    <p class="container lead">
        <br>
        <br>
        {{artistName}}
        <br>
        <br>
        <br>
    </p>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>