<!DOCTYPE html>
<html>

<head>
    <title>Description</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="/css/mainpage.css" rel="stylesheet">
    <link href="/css/description.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img id='lg' alt="Brand" src="/images/Oval.png">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li class=""><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Profile</a></li>
                <li><a href=" #">Messages</a></li>
            </ul>
        </div>
    </nav>
    <ol class="breadcrumb">
        <li class="inactive">
            <a href="#">Home</a>
        </li>
        <li class="active"><a href="#">Product Description</a></li>
    </ol>
    <section class="container-fluid">
        <div class="row" id="head">
            <div class="col-sm-1"></div>
            <figure class="col-sm-10">
                <img class="img-fluid" id="h1" src="/images/starrynight.jpg" />
            </figure>
            <div class="col-sm-1"></div>
        </div>
    </section>
    <br>
    <br>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Description</a></li>
        <li role="presentation"><a href="#">Availability</a></li>
        <li role="presentation"><a href="#">Pricing</a></li>
    </ul>
    <br>
    <br>
    <p class="container lead">Watercolor (American English) or watercolour
        (British English; see spelling differences), also aquarelle (French, from Italian diminutive of
        Latin aqua "water"),[1] is a painting
        method in which the paints are made of pigments suspended in a water-based solution. Watercolor
        refers to both the medium and the resulting
        artwork. Aquarelles painted with water-soluble colored ink instead of modern water colors are
        called
        "aquarellum atramento" (Latin for
        "aquarelle made with ink") by experts. However, this term has been more and more passing out of
        use.[2][3]
    </p>
</body>

</html>