<html>
<head>
	<title>Test Page</title>
	<link href="css/prototype2.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body id = "friends">
	<div class = "row" class = "menuBar">
		<div class = "col-md-3">
			<img class="containerLeft" class = "icon" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-back-512.png" alt="back arrow">
		</div>
		<div class = "col-md-6">
			<h1 class="containerTop">Watercolor</h1>
		</div>
		<div class = "col-md-3">
			<img class="containerRight" class = "icon" src="https://cdn2.iconfinder.com/data/icons/ui-thick-lines/620/share_android-512.png" alt="share icon">
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-2">
			<img class = "profilePic"src="https://i.pinimg.com/originals/34/62/d2/3462d27440aa255b1c314ff16f4032b4.png" alt="share icon">
		</div>
		<div class = "col-md-4">
			<h1 class = "profileName">Jane D.</h1>
		</div>
		<div class = "col-md-6">
			<div class="container">
				<div class="star-widget">
					<input type = "radio" name = "rate" id="rate-5">
					<label for = "rate-5" ></label>
					<input type = "radio" name = "rate" id="rate-4">
					<label for = "rate-4" ></label>
					<input type = "radio" name = "rate" id="rate-3">
					<label for = "rate-3" ></label>
					<input type = "radio" name = "rate" id="rate-2">
					<label for = "rate-2" ></label>
					<input type = "radio" name = "rate" id="rate-1">
					<label for = "rate-1" ></label>
					<span class = "result"></span>
				</div>
			</div>
		</div>
	</div>
	<br>

	<img class = "watercolor" src="https://i.pinimg.com/originals/98/c2/58/98c25874fd4e8b13fc66be3c7853e825.jpg" alt="watercolor photo">
	
	{{!-- <span class="align-bottom"> --}}
	<div class = "twoButtons" >
		<div class="buttonsTop" class = "row">
			<button type="button" class= "buttonLeft" class="btn btn-primary">View availability</button>
		</div>
		<div class="buttonsBottom" class = "row">
			<button type="button" class= "buttonRight" class="btn btn-primary">View pricing</button>
		</div>
	</div>
	{{!-- </span> --}}

	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Description</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Others</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">		<p>Watercolor (American English) or watercolour
		 (British English; see spelling differences), also aquarelle (French, from Italian diminutive of Latin aqua "water"),[1] is a painting 
		 method in which the paints are made of pigments suspended in a water-based solution. Watercolor refers to both the medium and the resulting 
		 artwork. Aquarelles painted with water-soluble colored ink instead of modern water colors are called "aquarellum atramento" (Latin for 
		 "aquarelle made with ink") by experts. However, this term has been more and more passing out of use.[2][3]
		 </p></div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Others!</div>
</div>

</body>
</html>
