<html>
<head>
	<title>Test Page</title>
	<script src="https://kit.fontawesome.com/f56db58fff.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="css/prototype2.css" rel="stylesheet">
</head>
<body id = "friends">
	<div class = "row bg-primary">
		<div class = "col-md-3 align-self-center">
			<h1 class="fas fa-chevron-left" style="font-size: 60px; padding: 20px 0px;"></h1>
		</div>
		<div class = "col-md-6 align-self-center text-center">
			{{!-- class="containerTop" --}}
			<h1 style="font-size: 60px; padding: 20px 0px;">Watercolor</h1>
		</div>
		<div class = "col-md-3 align-self-center">
			{{!-- class="containerRight icon" --}}
			<h1 class="fas fa-share-alt  float-right" style="font-size: 60px; padding: 20px 0px;"></h1>
		</div>
	</div>
	<div class = "row">
		{{!-- <div class = "col-md-2"> --}}
			{{!-- <img src="" alt="share icon"> --}}
		<div class="col-md-4" style="padding: 20px 40px;">
        <img src="https://i.pinimg.com/originals/34/62/d2/3462d27440aa255b1c314ff16f4032b4.png" class="img-fluid" alt="Responsive image">
    	</div>
		<div class = "col-md-2 align-self-center float-right">
			<h1>Jane D.</h1>
		</div>
		<div class = "col-md-6 align-self-center text-center">
			<div class="container">
				<div class="star-widget">
					<input type = "radio" name = "rate" id="rate-5">
					<label for = "rate-5" ></label>
					<input type = "radio" name = "rate" id="rate-4">
					<label for = "rate-4" ></label>
					<input type = "radio" name = "rate" id="rate-3">
					<label for = "rate-3" ></label>
					<input type = "radio" name = "rate" id="rate-2">
					<label for = "rate-2" ></label>
					<input type = "radio" name = "rate" id="rate-1">
					<label for = "rate-1" ></label>
					<span class = "result"></span>
				</div>
			</div>
		</div>
	</div>
	<br>

	<div class="container-fluid no-padding">
	<div class="row text-center">
		<div class="col-md-12">
		<img src="https://i.pinimg.com/originals/98/c2/58/98c25874fd4e8b13fc66be3c7853e825.jpg"  
		class="img-fluid" alt="Responsive image" style="padding-bottom: 10px;">
		</div>
	</div>
	</div>
	{{!-- <span class="align-bottom"> --}}
	{{!-- <div class = "twoButtons" > --}}
		<div class="row">
			<div class="col-12" style="padding-left: 0px;  padding-right: 0px; padding-top: 10px;  padding-bottom: 10px;">
			<button type="button" class= "btn btn-primary btn-block"  style="font-size: 50px;">View availability</button>
		</div></div>
		
		<div class="row">
			<div class="col-12" style="padding-left: 0px;  padding-right: 0px; padding-top: 10px;  padding-bottom: 10px;">
			<button type="button" class= "btn btn-primary" style="font-size: 50px;">View pricing</button>
		</div></div>
	{{!-- </div> --}}
	{{!-- </span> --}}

	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"  style="font-size: 35px;">Description</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" style="font-size: 35px;">Others</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" style="font-size: 30px;">		<p>Watercolor (American English) or watercolour
		 (British English; see spelling differences), also aquarelle (French, from Italian diminutive of Latin aqua "water"),[1] is a painting 
		 method in which the paints are made of pigments suspended in a water-based solution. Watercolor refers to both the medium and the resulting 
		 artwork. Aquarelles painted with water-soluble colored ink instead of modern water colors are called "aquarellum atramento" (Latin for 
		 "aquarelle made with ink") by experts. However, this term has been more and more passing out of use.[2][3]
		 </p></div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Others!</div>
</div>

</body>
</html>
