<html>

<head>
	<title>Art Commissioner Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/mainpage.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
	<link href="/css/description.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/c4240f549f.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
	<div clas="topnav">
		<div class="search-box">
			<input class="search-txt" type="text" name="" placeholder="">
			<div class="search-btn">
				<i class="fas fa-search fa-2x"></i>
			</div>
		</div>
		<div class="hamburger-menu">
			<i class="fas fa-bars fa-5x"></i>
		</div>
	</div>
	{{!-- <nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img id='lg' alt="Brand" src="/images/Oval.png">
				</a>
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li class=""><a href="localhost:3000">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Profile</a></li>
				<li><a href=" #">Messages</a></li>
			</ul>
		</div>
	</nav> --}}
	<div id="original">
		<div class="middle-nav">
			<div class="gallary" id="left">
				<div class="frame">
					<img src="images/Lilie.jpg" class="picture" id="1">
				</div>
				<div class="frame">
					<img src="images/monalisa.jpg" class="picture" id="2">
				</div>
				<div class="frame">
					<img src="images/sunflower.jpg" class="picture" id="3">
				</div>
				<div class="frame">
					<img src="images/starrynight.jpg" class="picture" id="4">
				</div>

			</div>
			<div class="gallary" id="right">
				<div class="frame">
					<img src="images/sunflower.jpg" class="picture" id="3">
				</div>
				<div class="frame">
					<img src="images/Lilie.jpg" class="picture" id="1">
				</div>
				<div class="frame">
					<img src="images/starrynight.jpg" class="picture" id="4">
				</div>
				<div class="frame">
					<img src="images/monalisa.jpg" class="picture" id="2">
				</div>

			</div>
		</div>

		<div class="bottom-nav">
			<div class="bottom-child" id="sun">
				<i class="far fa-sun fa-4x"></i>
			</div>
			<div class="line"></div>
			<div class="bottom-child" id="home">
				<i class="fas fa-home fa-4x"></i>
			</div>
			<div class="line"></div>
			<div class="bottom-child" id="chat">
				<i class="fas fa-comment-dots fa-4x"></i>
			</div>
			<div class="line"></div>
			<div class="bottom-child" id="user">
				<i class="fas fa-user-alt fa-4x"></i>
			</div>
		</div>
	</div>
</body>

</html>