
<html>
	<head>
		<title>Art Comissioner</title>
		<link href="/css/mainpage.css" rel="stylesheet">
		<script src="https://kit.fontawesome.com/c4240f549f.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="search-box">
			<input class="search-txt" type="text" name="" placeholder="" >
			<div class="search-btn" >
				<i class="fas fa-search"></i>
			</div>
		</div>
	</body>
</html>