.navbar-header img{
    height:100%;
}

.navbar-brand{
    padding-top:0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

#lg{
    padding: 5px;
}
 
.inactive>a{
    color:#FBFDFF;
}

.row#head{
    /* padding-left: 100px;
    padding-right: 100px; */
    background: #FBFDFF;
}

.col-sm-10{
padding-right: 0;
padding-left: 0;
}

/* body{
  padding-top: 50px;
} */
.breadcrumb{
    margin-bottom: 0;
    background:#9ADFDD ;
}

#h1.img-fluid{
object-fit: cover;
/* height: 100%;
width:auto; */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:#FBFDFF;
    background-color: #FF603F;
    border-color: #FF603F;
}

.col-sm-1{
    background-color: #FBFDFF;
}

p.container.lead{
    background-image: linear-gradient(to bottom, #D8F6F6 0, #FCEBE8 100%);
}

.tab-content p{
        background-image: linear-gradient(to bottom, #D8F6F6 0, #FCEBE8 100%);

}
section .row img {
    margin-bottom: 0px;
}