* {box-sizing: border-box;}

body{
  margin:0;
  padding: 0;
  background: #3498db
}

.search-box{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  margin-top: 100px;
  height: 80px;
  border-radius: 40px;
  background: #2980b9;
  padding: 10px;
  z-index: 10;
}
.search-btn{
  color: #ecf0f1;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  padding: 0px;
  font-size: 40px;
  line-height: 40px;
  width: 500px;
  z-index: 10;
}
.search-box:hover{
  background: white;
  transition: background-color 400ms linear;
}
/*.search-box:hover > .search-txt{
  width: 500px;
  padding: 0 10px;
  background: white;
}
*/
.search-box:hover > .search-btn{
  color: black;
}

.hamburger-menu{
  margin-top: 70px;
  margin-right: 60px;
  color: #ecf0f1;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.middle-nav{
  position: relative;
  top: 25%;
  transform: translate(0, -25%);
  display: flex;
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: space-between;

}
.gallary{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
}

#left {
  align-items: flex-end;
}

.frame{
  display: flex;
  width: 80%;
  background-color: rgba(255,255,255,0.5);
  border-radius: 40px;
  padding: 20 20 20 20;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

}
.picture{
  width: 80%;
  height: 80%;
  
}
.bottom-nav{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  bottom: 200;
  width: 80%;
  height: 100px;
  border-radius: 40px;
  background-color: rgba(255,255,255,0.8);
  z-index: 10;
}
.bottom-child{
  color:#3498db;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
  z-index: 10;
}

.line{
  display: flex;
  width: 2px;
  background: #3498db;
  z-index: 10;
}
