/* body {
  background-color: #000;
  font: 1.1em Arial, Helvetica, sans-serif;
} */

.masonry img {
  max-width: 100%;
  display: block;
}

figure {
  position: relative;
  margin: 0;
  display: inline-block;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

.nameCaption {
  position: absolute; 
  background-color: rgba(255,255,255,.5);
  /* padding: .2em .5em; */
  bottom:0;
  left:0;
  justify-self: center;
}
  
.heart {
  position: absolute;
  top: 0;
  right: 0;
  writing-mode: vertical-rl;
}

/* .heart:active {     
  background-color:yellow;    
}

.heart:visited {     
  background-color:yellow;    
} */

.fa .fa-heart:active {     
  background-color:yellow;    
}

.fa .fa-heart:focus {     
  background-color:yellow;    
}

.container.masonry{
  column-count: 4;
  column-gap: 10px;
}

@media only screen and (max-width: 900px) {
.container.masonry{
  column-count: 3;
  column-gap: 10px;
}
@media only screen and (max-width: 600px) {
.container.masonry{
  column-count: 2;
  column-gap: 10px;
}
}
}
img{
  display:block;
}