@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.star-widget label{
  /* float: right; */
  font-size: 50px;
  color: gold;/*lightgrey;*/
  /* margin: 0 5px; */
  text-shadow: 1px 1px #bbb;
  align-items: right;
}

.star-widget input{
  display: none;
}

.star-widget label:before{
  content: '★';
}
.star-widget input:checked ~ label{
  color: gold;
  text-shadow: 1px 1px #c60;
}

.btn-primary{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}